<div class="sidebar">
    <div class="logo">
      <img src="/logohau.jpg" alt="Logo" />
    </div>
    <h2>Dashboard</h2>
    <a href="home.html">Home</a>
    <a href="#">Onboarding</a>
    <a href="#">Offboarding</a>
    <a href="employee.html">Employee Information</a>
    <div class="dropdown">
      <a href="#">Dashboard</a>
      <div class="dropdown-content">
        <a href="#">Onboarding Analytics</a>
        <a href="offa.html">Offboarding Analytics</a>
        <a href="distribution.html">Employee Distribution</a>
        <a href="recommend.html">Recommendatory</a>
        <a href="evaluation.html">Evaluation</a>
        <a href="onboardingprogress.html">Onboarding Report</a>
        <a href="offboardingprogress.html" class="active">Offboarding Report</a>
        <a href="auditreport.html">Audit Logs Report</a>
      </div>
    </div>
  </div>
  